@font-face {
    font-family: FonteFina;
    src: url(../Fonte/Barlow-ThinItalic.ttf);
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8ab76;
    height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-list a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace
}

nav a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

ul a:hover ::after{
    width: 100%;
}

.trocar-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.trocar-layout a{
    padding: 10px 15px 10px 15px;
    color:#E4F7F7;
    text-shadow:0.1em 0.1em 0.2em black;;
    font-size: 40px;
    transition: 0.3s;
    text-decoration: none;
   
}

.trocar-layout a:hover{
    color: rgb(246, 218, 195);
    transition: 0.3s;
    opacity: 0.7;
} 

main{
    background-color: #b8c7c7;
}

.banner-fundo{
    background-image: url(../imagens/imagem-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    background-attachment: fixed;
}

#titulo{
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    background-color:  #c8ab76;
    color: #fff;
    text-align: center;
    font-family: FonteFina ; 
    text-shadow: 0.1em 0.1em 0.2em black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.imagem-principal{
    max-width: 180px;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(184, 199, 199);
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    
}

.container-cartao{
    background-color: #fff4e057;
    border: solid 2px  #b29867 ;
    margin-bottom: 40px;
    padding-bottom: 30px;
    height: 300px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

 a{
    text-decoration: none;
    opacity: 1;
}

.personagem{
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.personagem:hover{
    transform: scale(1.15, 1.15);
}

.imagem{
    padding: 20px 30px 40px 30px;
}

.imagem-logo{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
} 

.imagem h3{
    text-align: center;
    color: #ffde9f;
    padding-bottom: 20px;
    font-size: 30px;
    font-family:FonteFina;
    text-shadow: 0.1em 0.1em 0.2em black;
}

footer{
    background-color: #b29867;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 17px;
}

footer strong{
    color: #efdbb5;
}

::-webkit-scrollbar{
    width: 10px;
    color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color:#a99d8a;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #efdab8;
}